simple.wsdl

<?xml version ='1.0' encoding ='UTF-8' ?>

<definitions name='SimpleHelloService'

	targetNamespace='http://soap-phone-book/PhoneBook'
	xmlns:tns='http://soap-phone-book/PhoneBook' xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/'
	xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:soapenc='http://schemas.xmlsoap.org/soap/encoding/'
	xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns='http://schemas.xmlsoap.org/wsdl/'>

    <types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
                   targetNamespace="http://soap-phone-book/PhoneBook">
            <xs:element name="setRecord">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="name" type="xs:string" minOccurs="23"/>
                        <xs:element name="email" type="xs:string"/>
                        <xs:element name="phone" type="xs:string"/>
                        <xs:element name="address" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getQuoteResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="getQuoteReturn" type="xs:float"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </types>

	<!-- MESSAGES -->

	<message name="getAllRequest">
		<part name="id" element="xsd:int" />
	</message>

	<message name="getAllResponse">
		<part name="parameters" element="tns:getAllResponse" />
	</message>

    <wsdl:message name="GetComplexTypeException">
        <wsdl:part name="fault" type="tns:SoapFault"/>
    </wsdl:message>

    <message name = "insertDataRequest">
        <part name = "name" type = "xsd:string"/>
        <part name = "email" type = "xsd:string"/>
        <part name = "phone" type = "xsd:string"/>
        <part name = "address" type = "xsd:string"/>
    </message>

    <wsdl:message name="msgSetRecord">
        <wsdl:part name="obj" type="tns:setRecord">
        </wsdl:part>
    </wsdl:message>

    <message name = "insertDataResponse">
        <part name = "count" type = "xsd:integer"/>
    </message>

    <message name = "deleteRequest">
        <part name = "id" type = "xsd:integer"/>
    </message>

    <message name = "deleteResponse">
        <part name = "count" type = "xsd:integer"/>
    </message>

    <message name = "getByIdRequest">
        <part name = "id" type = "xsd:integer"/>
    </message>

    <message name = "getByIdResponse">
        <part name="parameters" element="tns:getByIdResponse" />
    </message>

    <message name = "getByNameRequest">
        <part name = "name" type = "xsd:string"/>
    </message>

    <message name = "getByNameResponse">
        <part name="parameters" element="tns:getByIdResponse" />
    </message>

    <message name = "updateRequest">
        <part name = "id" type = "xsd:integer"/>
        <part name = "name" type = "xsd:string"/>
        <part name = "email" type = "xsd:string"/>
        <part name = "phone" type = "xsd:string"/>
        <part name = "address" type = "xsd:string"/>
    </message>

    <message name = "updateResponse">
        <part name = "count" type = "xsd:integer"/>
    </message>



	<!-- PORT TYPE -->

	<portType name="SimpleHello">

		<wsdl:operation name="getAll">
			<wsdl:input message="getAllRequest"></wsdl:input>
			<wsdl:output message="getAllResponse"></wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="insertData">
			<wsdl:input message="msgSetRecord"></wsdl:input>
			<wsdl:output message="insertDataResponse"></wsdl:output>
            <wsdl:fault message="GetComplexTypeException" name="InsertError">
                <soap:fault name="GetComplexTypeException" use="literal"/>
            </wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="delete">
			<wsdl:input message="deleteRequest"></wsdl:input>
			<wsdl:output message="deleteResponse"></wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="getById">
			<wsdl:input message="getByIdRequest"></wsdl:input>
			<wsdl:output message="getByIdResponse"></wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="getByName">
			<wsdl:input message="getByNameRequest"></wsdl:input>
			<wsdl:output message="getByNameResponse"></wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="update">
			<wsdl:input message="updateRequest"></wsdl:input>
			<wsdl:output message="updateResponse"></wsdl:output>
		</wsdl:operation>

	</portType>

	<!-- BINDINGS -->

	<binding name="SimpleHelloPortBinding" type="tns:SimpleHello">

		<soap:binding style='rpc' transport='http://schemas.xmlsoap.org/soap/http' />

		<operation name='getAll'>
			<soap:operation soapAction='getAll' />
			<input>
				<soap:body use='encoded' namespace='http://www.modernfidelity.co.uk' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</input>
			<output>
				<soap:body use='encoded' namespace='http://www.modernfidelity.co.uk' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</output>
		</operation>

		<operation name='insertData'>
			<soap:operation soapAction='insertData' />
			<input>
				<soap:body use='encoded' namespace='http://www.modernfidelity.co.uk' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</input>
			<output>
				<soap:body use='encoded' namespace='http://www.modernfidelity.co.uk' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</output>
		</operation>

		<operation name='delete'>
			<soap:operation soapAction='delete' />
			<input>
				<soap:body use='encoded' namespace='http://www.modernfidelity.co.uk' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</input>
			<output>
				<soap:body use='encoded' namespace='http://www.modernfidelity.co.uk' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</output>
		</operation>

		<operation name='getById'>
			<soap:operation soapAction='getById' />
			<input>
				<soap:body use='encoded' namespace='http://www.modernfidelity.co.uk' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</input>
			<output>
				<soap:body use='encoded' namespace='http://www.modernfidelity.co.uk' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</output>
		</operation>

		<operation name='getByName'>
			<soap:operation soapAction='getByName' />
			<input>
				<soap:body use='encoded' namespace='http://www.modernfidelity.co.uk' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</input>
			<output>
				<soap:body use='encoded' namespace='http://www.modernfidelity.co.uk' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</output>
		</operation>

		<operation name='update'>
			<soap:operation soapAction='update' />
			<input>
				<soap:body use='encoded' namespace='http://www.modernfidelity.co.uk' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</input>
			<output>
				<soap:body use='encoded' namespace='http://www.modernfidelity.co.uk' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</output>
		</operation>

	</binding>

	<!-- SERVICE -->

	<service name="SimpleHelloService">
		<port name="SimpleHelloPort" binding="tns:SimpleHelloPortBinding">
			<soap:address location='' />
		</port>
	</service>

</definitions>