simple.wsdl

<?xml version ='1.0' encoding ='UTF-8' ?>

<definitions name='SimpleHelloService'

	targetNamespace='http://soap-phone-book/PhoneBook'
	xmlns:tns='http://soap-phone-book/PhoneBook' xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/'
	xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:soapenc='http://schemas.xmlsoap.org/soap/encoding/'
	xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns='http://schemas.xmlsoap.org/wsdl/'>


	<!-- MESSAGES -->

	<message name="getAllRequest">
		<part name="parameters" element="tns:getAllRequest" />
	</message>

	<message name="getAllResponse">
		<part name="parameters" element="tns:getAllResponse" />
	</message>

    <message name = "insertDataRequest">
        <part name = "name" type = "xsd:string"/>
        <part name = "email" type = "xsd:string"/>
        <part name = "phone" type = "xsd:string"/>
        <part name = "address" type = "xsd:string"/>
    </message>

    <message name = "insertDataResponse">
        <part name = "count" type = "xsd:integer"/>
    </message>

    <message name = "deleteRequest">
        <part name = "id" type = "xsd:integer"/>
    </message>

    <message name = "deleteResponse">
        <part name = "count" type = "xsd:integer"/>
    </message>

    <message name = "getByIdRequest">
        <part name = "id" type = "xsd:integer"/>
    </message>

    <message name = "getByIdResponse">
        <part name="parameters" element="tns:getByIdResponse" />
    </message>

    <message name = "updateRequest">
        <part name = "id" type = "xsd:integer"/>
        <part name = "name" type = "xsd:string"/>
        <part name = "email" type = "xsd:string"/>
        <part name = "phone" type = "xsd:string"/>
        <part name = "address" type = "xsd:string"/>
    </message>

    <message name = "updateResponse">
        <part name = "count" type = "xsd:integer"/>
    </message>



	<!-- PORT TYPE -->

	<portType name="SimpleHello">

		<wsdl:operation name="getAll">
			<wsdl:input message="getAllRequest"></wsdl:input>
			<wsdl:output message="getAllResponse"></wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="insertData">
			<wsdl:input message="insertDataRequest"></wsdl:input>
			<wsdl:output message="insertDataResponse"></wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="delete">
			<wsdl:input message="deleteRequest"></wsdl:input>
			<wsdl:output message="deleteResponse"></wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="getById">
			<wsdl:input message="getByIdRequest"></wsdl:input>
			<wsdl:output message="getByIdResponse"></wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="update">
			<wsdl:input message="updateRequest"></wsdl:input>
			<wsdl:output message="updateResponse"></wsdl:output>
		</wsdl:operation>

	</portType>

	<!-- BINDINGS -->

	<binding name="SimpleHelloPortBinding" type="tns:SimpleHello">

		<soap:binding style='rpc' transport='http://schemas.xmlsoap.org/soap/http' />

		<operation name='getAll'>
			<soap:operation soapAction='getAll' />
			<input>
				<soap:body use='encoded' namespace='http://www.modernfidelity.co.uk' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</input>
			<output>
				<soap:body use='encoded' namespace='http://www.modernfidelity.co.uk' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</output>
		</operation>

		<operation name='insertData'>
			<soap:operation soapAction='insertData' />
			<input>
				<soap:body use='encoded' namespace='http://www.modernfidelity.co.uk' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</input>
			<output>
				<soap:body use='encoded' namespace='http://www.modernfidelity.co.uk' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</output>
		</operation>

		<operation name='delete'>
			<soap:operation soapAction='delete' />
			<input>
				<soap:body use='encoded' namespace='http://www.modernfidelity.co.uk' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</input>
			<output>
				<soap:body use='encoded' namespace='http://www.modernfidelity.co.uk' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</output>
		</operation>

		<operation name='getById'>
			<soap:operation soapAction='getById' />
			<input>
				<soap:body use='encoded' namespace='http://www.modernfidelity.co.uk' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</input>
			<output>
				<soap:body use='encoded' namespace='http://www.modernfidelity.co.uk' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</output>
		</operation>

		<operation name='update'>
			<soap:operation soapAction='update' />
			<input>
				<soap:body use='encoded' namespace='http://www.modernfidelity.co.uk' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</input>
			<output>
				<soap:body use='encoded' namespace='http://www.modernfidelity.co.uk' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</output>
		</operation>

	</binding>

	<!-- SERVICE -->

	<service name="SimpleHelloService">
		<port name="SimpleHelloPort" binding="tns:SimpleHelloPortBinding">
			<soap:address location='' />
		</port>
	</service>

</definitions>